.navSide{
    background-color: var(#f8f9fa);
    height: 100vh;
    margin-left: 10px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.img{
    width: 32px;
    height: 32px;
    margin: 0 10px;
}