.content{
    background-color: var(--bg-primary);
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 100px);
    transition: background-color 0.3s ease;
    .wrapper{
        max-height: calc(100vh - 180px);
        /* overflow: auto; */
    }
}
